/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
.idea
.env*
node_modules
.sass-cache
public/assets/css
public/assets/js
public/assets/img
public/assets/fonts
bower_components
app/storage/*
npm-debug.log
