/vendor
/node_modules
/public/storage
/public/assets
/.sass-cache
/bower_components
Homestead.yaml
Homestead.json
.env
.idea
.DS_Store
Thumbs.db
/resources/assets/backend/css/app.css
/resources/assets/backend/css/app.css.map
/resources/assets/frontend/css/app.css
/resources/assets/frontend/css/app.css.map